# firecrawl or tavily
PAGE_EXTRACTOR_PROVIDER="firecrawl" # 使用哪个页面提取服务，firecrawl 或者 tavily,使用哪个则填写对应的api—key

TAVILY_API_KEY=""

FIRECRAWL_API_KEY=""

# mineru的 api_token, 解析用户的内容文件
MINERU_API_TOKEN=""

# 搜素模型，推荐使用grok
SEARCH_MODEL_API_KEY = ""
SEARCH_MODEL_BASE_URL = "" 
SEARCH_MODEL_NAME = "grok-4-1-fast-reasoning"
SEARCH_MODEL_PROVIDER = "openai"

# 生成模型配置,建议使用gemini
GENERATE_MODEL_API_KEY = ""
GENERATE_MODEL_BASE_URL = ""
GENERATE_MODEL_NAME = "gemini-3-falsh-preview"
GENERATE_MODEL_PROVIDER = "openai"

# 意图识别模型配置
INTENT_RECOGNITION_MODEL_API_KEY = ""
INTENT_RECOGNITION_MODEL_BASE_URL = ""
INTENT_RECOGNITION_MODEL_NAME = "gemini-3-falsh-preview"
INTENT_RECOGNITION_MODEL_PROVIDER = "openai"


# 用户数据的根目录，所有的用户数据都会保存到该文件夹下面
USER_DATA_ROOT_DIR = "./user_data"

# langgraph 的检查点的文件路径和缓存文件的路径
CHECKPOINT_PATH = "checkpoint.db"
CACHE_PATH = "cache.db"

# 开发环境还是生成环境
APP_ENV="production" # development or production

# 每一步执行的延迟，单位是秒，即在并发生成初稿、终稿的过程中，并发执行时，每个请求之间的间隔时间
DELAY=0.0

