html {
  font-family: "Avenir Next", "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1f2d2b;
  background: #ebe6db;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}
